h1,h2,h3,h4,h5,h6,p,a{text-align:center;}
a{text-decoration:none;color:white}
.vazia{width:55px;height:110px;background:green;margin:5px auto}
.ocupada{width:55px;height:110px;background:red;margin:5px auto}
.msg{border:5px solid #666; border-radius:5px;background:#999;}
html{color:white;text-shadow:2px 2px black;}
#header{width:100%;border:3px solid #666;background:-moz-linear-gradient(top,#333  ,#FDFDFD, #333);background:-webkit-linear-gradient(top,#333  ,#FDFDFD, #333);background:linear-gradient(top,#333  ,#FDFDFD, #333);;border-radius:5px}
#estacionamento{width:800px;float:left;margin:0 3%}
.vaga{width:58px;height:150px;float:left;background:#FDFDFD;margin:1%;border:1px solid #60C;}
.nome{width:58px;height:30px;background:#999;text-align:center;font-size:28px}
#painel{width:800px;margin:0 auto;}
#footer{width:100%;border:3px solid #666;background:-moz-linear-gradient(top,#333  ,#FDFDFD, #333);background:-webkit-linear-gradient(top,#333  ,#FDFDFD, #333);background:linear-gradient(top,#333  ,#FDFDFD, #333);;float:left;border-radius:3px;border-radius:5px;}
.link{color:white;text-decoration:none}
.lista{border:2px solid #333;background:white;margin-bottom:5px;color:black;text-shadow:none}
li{list-style:none;display:inline;padding:10px}
li:hover{background:#333;cursor:pointer}
ul{margin-left:-40px}

/*formulario*/
form{border:2px solid #999;padding:10px;background:white;margin-top:-10px;color:black;text-shadow:none;font-weight:bold}
label{display:block}
input{width:40%;display:block;height:20px}
select{width:40%;}
option{width:40%;height:20px}
input[type='submit']{width:50%;margin-top:20px;height:30px}
input[type='submit']:hover{background:#666;color:white;}
.errorlist{border:3px solid red;background: #FF9966;height:5%;width:50%;margin:5px auto}
.errorlist li:hover{background:#FF9966}
